<% layout('./layouts/boilerplate1') %>
    <h1>Songs</h1>
    <div id="playlist">
        <% tracks.forEach(function(track) { %>
            <% if(track.preview_url){ %>
                <div class="song flex flex-col md:flex-row md:justify-between md:items-center rounded-lg shadow">
                    <div class="flex mr-2 my-2 flex-row">
                        <div class="mr-2">
                                <img src="<%= track.album.images[0].url %>" style="max-width: 100px;max-height: 100px;">
                        </div>
                    <div>
                <p><strong>Name:</strong> <%= track.name %></p>
                <p><strong>Artist:</strong> <%= track.artists.map(artist => artist.name).join(', ') %></p>
                <button class="likeButton" id="<%= track.id %>" data-liked="<%= track.liked %>" data-preview-url="<%= track.preview_url%>" data-name="<%= track.name%>" data-lyrics="<%= track.lyrics %>" data-image="<%= track.album.images[0].url  %>">
                        <% if (track.liked === true) { %>
                            <i class="fa fa-heart" style="color: #f33f7e;"></i>
                        <% } else { %>
                            <i class="fa fa-heart" style="color: #6a6064dd;"></i>
                        <% } %>
                </button>
                <button class="dislikeButton" id="<%= track.id %>" data-disliked="<%= track.disliked %>" data-preview-url="<%= track.preview_url%>" data-name="<%= track.name %>" data-lyrics="<%= track.lyrics %>" data-image="<%= track.album.images[0].url  %>">
                    <% if (track.disliked === true) { %>
                        <i class="fa fa-heart" style="color: #000000;"></i>
                    <% } else { %>
                        <i class="fa fa-heart" style="color: #6a6064dd;"></i>
                    <% } %>
              </button>
              <button id="playlistButton">
                <i class="fa fa-plus" style="font-size: 20px;"></i>
             </button>
              <div class="relative right-0 mt-2 w-48 bg-white rounded-md shadow-lg py-1 z-20 hidden" id="playlist-menu">
                <% user.playlists.forEach(playlist => { %>
                    <% if(playlist.name !=='Liked Songs'){ %>
                    <label>
                        <input type="checkbox" class="playlist-checkbox" data-preview-url="<%= track.preview_url %>" data-image="<%= track.album.images[0].url  %>" data-playlist-id="<%= playlist._id %>" data-lyrics="<%= track.lyrics %>" data-track-name=" <%= track.name %>" data-track-id="<%= track.id %>" <%= playlist.songIds && playlist.songIds.some(song => song.trackId === track.id) ? 'checked' : '' %>>
                        <%= playlist.name %>
                    </label>
                    <% } %>
                <% }); %>
            </div>
                <button class="play-button" data-preview-url="<%= track.preview_url %>" data-track-name=" <%= track.name %>" data-track-id="<%= track.id %>" data-image="<%= track.album.images[0].url  %>" ><i class="fa fa-play-circle-o"></i></button>
                <audio controls style="display: none;">
                    <source src="<%= track.preview_url %>">
                    Your browser does not support the audio element.
                </audio>
            </div>
        </div>
            <div class="flex flex-col justify-center bg-gray-100 p-4 rounded-lg shadow" >
                <h1>Lyrics :</h1>
                <p style="
                height: 100px; 
                overflow:-x auto; overflow-y: auto;" class="w-96 h-40" ><%- track.lyrics -%></p>
            </div>
        </div>
            <% }; %>
            <% } )%>

            <% artistTracks.forEach(function(track) { %>
                <% if(track.preview_url){ %>
                    <div class="song">
                        <p><strong>Name:</strong> <%= track.name %></p>
                        <p><strong>Artist:</strong> <%= track.user.username %></p>
                        <button class="likeButton" id="<%= track._id %>" data-liked="<%= track.liked %>" data-preview-url="<%= track.preview_url%>" data-name="<%= track.name%>">
                                <% if (track.liked === true) { %>
                                    <i class="fa fa-heart" style="color: #f33f7e;"></i>
                                <% } else { %>
                                    <i class="fa fa-heart" style="color: #6a6064dd;"></i>
                                <% } %>
                        </button>
                        <button class="dislikeButton" id="<%= track._id %>" data-disliked="<%= track.disliked %>" data-preview-url="<%= track.preview_url%>" data-name="<%= track.name%>">
                            <% if (track.disliked === true) { %>
                                <i class="fa fa-heart" style="color: #000000;"></i>
                            <% } else { %>
                                <i class="fa fa-heart" style="color: #6a6064dd;"></i>
                            <% } %>
                      </button>
                      <button id="playlistButton">
                        <i class="fa fa-plus" style="font-size: 20px;"></i>
                     </button>
                      <div class="relative right-0 mt-2 w-48 bg-white rounded-md shadow-lg py-1 z-20 hidden" id="playlist-menu">
                        <% user.playlists.forEach(playlist => { %>
                            <label>
                                <input type="checkbox" class="playlist-checkbox" data-preview-url="<%= track.preview_url %>" data-playlist-id="<%= playlist._id %>"  data-track-name=" <%= track.name %>" data-track-id="<%= track._id %>" <%= playlist.songIds && playlist.songIds.some(song => song.trackId === track.id) ? 'checked' : '' %>>
                                <%= playlist.name %>
                            </label>
                        <% }); %>
                    </div>
                        <button class="play-button" data-preview-url="<%= track.preview_url %>" data-track-name=" <%= track.name %>" data-track-id="<%= track._id %>"><i class="fa fa-play-circle-o"></i></button>
                        <audio controls style="display: none;">
                            <source src="<%= track.preview_url %>">
                            Your browser does not support the audio element.
                        </audio>
                    </div>
                    <div class="flex flex-col justify-center bg-gray-100 p-4 rounded-lg shadow" >
                        <h1>Lyrics :</h1>
                        <p style="
                        height: 100px; 
                        overflow:-x auto; overflow-y: auto;" class="w-96 h-40" ><%- track.lyrics -%></p>
                    </div>
                    <% }; %>
                    <% } )%>
                    
    </div>


<!--
<html>
<head>
    <title>Playlist</title>
    <style>
        .song {
            border: 1px solid #ccc;
            padding: 10px;
            margin: 10px;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full h-15 bg-gray-800 p-6 shadow">
        <div class="flex justify-between">
            <form action="/auth/search" method="GET" class="flex items-center w-100 md:w-full max-w-lg mx-auto">
                <input type="text" name="search" placeholder="Search for a track" class=" h-10 flex-grow px-4 py-2 border border-gray-300 rounded-l-lg focus:outline-none focus:ring-2 focus:ring-inset focus:ring-blue-500">
                <button type="submit" class="h-10 bg-blue-500 text-white px-4 py-2 rounded-r-lg hover:bg-blue-600 focus:outline-none">
                    <i class="fa fa-search"></i>
                </button>
            </form>

            <div class="relative">
                <button class="flex h-10 w-10 bg-gray-200 rounded-full p-2  hover:bg-gray-500" id="profile">
                    <i class="fa fa-user-circle text-2xl text-gray-700 mx-auto my-auto" style="font-size: 20px;"></i>
                </button>
                <div class="absolute top-9 right-0 mt-2 w-48 bg-white rounded-md shadow-lg py-1 z-20 hidden" id="dropdown-menu">
                    <a href="users/dashboard" class="block px-4 py-2 text-gray-700 hover:bg-gray-100">Profile</a>
                    <a href="/login/logout" class="block px-4 py-2 text-gray-700 hover:bg-gray-100">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <h1>Songs</h1>
    <div id="playlist">
        <% tracks.forEach(function(track) { %>
            <% if(track.preview_url){ %>
            <div class="song">
                <p><strong>Name:</strong> <%= track.name %></p>
                <p><strong>Artist:</strong> <%= track.artists.map(artist => artist.name).join(', ') %></p>
                <button class="likeButton" id="<%= track.id %>" data-liked="<%= track.liked %>">
                        <% if (track.liked === true) { %>
                            <i class="fa fa-heart" style="color: #f33f7e;"></i>
                        <% } else { %>
                            <i class="fa fa-heart" style="color: #6a6064dd;"></i>
                        <% } %>
                </button>
                <button class="dislikeButton" id="<%= track.id %>" data-disliked="<%= track.disliked %>">
                    <% if (track.disliked === true) { %>
                        <i class="fa fa-heart" style="color: #000000;"></i>
                    <% } else { %>
                        <i class="fa fa-heart" style="color: #6a6064dd;"></i>
                    <% } %>
            </button>
                <p class="like-status">Likes: <%= track.likes %></p>
                <button class="play-button" data-preview-url="<%= track.preview_url %>"><i class="fa fa-play-circle-o"></i></button>
                <audio controls style="display: none;">
                    <source src="<%= track.preview_url %>">
                    Your browser does not support the audio element.
                </audio>
            </div>
            <% }; %>
            <% } )%>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const playButtons = document.querySelectorAll('.play-button');
            playButtons.forEach(button => {
                button.addEventListener('click', function(e) {
                    document.querySelectorAll('audio').forEach(audio=>{
                        if(this.parentElement.querySelector('audio')!==audio){
                        audio.style.display='none'
                        audio.pause()
                        audio.currentTime=0;
                        }
                    })
                    if(this.parentElement.querySelector('audio').style.display==='block'){
                       this.parentElement.querySelector('audio').style.display='none'
                       this.parentElement.querySelector('audio').pause()
                       this.parentElement.querySelector('audio').currentTime=0
                    }
                    else{
                         this.parentElement.querySelector('audio').style.display='block'
                         this.parentElement.querySelector('audio').play()
                    }
                });
            });
        });
        const button=document.querySelector('#profile')
        button.addEventListener('click',(e)=>{
            document.querySelector('#dropdown-menu').classList.toggle('hidden')
        })
        const likeButtons = document.querySelectorAll('.likeButton');
            likeButtons.forEach(button => {
                button.addEventListener('click', async function() {
                    const trackId = this.id
                    const dislikeButton=this.parentElement.querySelector('.dislikeButton')
                    dislikeButton.dataset.disliked =false
                    dislikeButton.innerHTML='<i class="fa fa-heart" style="color: #6a6064dd;"></i>'
                    if (this.dataset.liked === 'true') {
                        like = false; 
                        this.innerHTML='<i class="fa fa-heart" style="color: #6a6064dd;"></i>'
                        this.dataset.liked =false
                    } 
                    else{
                         like = true; 
                         this.innerHTML=' <i class="fa fa-heart" style="color: #f33f7e;"></i>'
                         this.dataset.liked =true

                    }
                    try {
                        const response = await fetch(`/auth/like?trackId=${trackId}&like=${like}&dislike=${false}`, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                        });

                        if (!response.ok) {
                            throw new Error('Failed to like track');
                        }

                        const data = await response.json();
                        console.log('Track liked successfully:', data);
                    } catch (error) {
                        console.error('Error liking track:', error);
                    }
                });
            });
            const dislikeButtons = document.querySelectorAll('.dislikeButton');
            dislikeButtons.forEach(button => {
                button.addEventListener('click', async function() {
                    const trackId = this.id
                    const likeButton=this.parentElement.querySelector('.likeButton')
                    likeButton.dataset.liked =false
                    likeButton.innerHTML='<i class="fa fa-heart" style="color: #6a6064dd;"></i>'
                    if (this.dataset.disliked === 'true') {
                        dislike = false; 
                        this.innerHTML='<i class="fa fa-heart" style="color: #6a6064dd;"></i>'
                        this.dataset.disliked =false
                    } 
                    else{
                         dislike = true; 
                         this.innerHTML=' <i class="fa fa-heart" style="color: #000000;"></i>'
                         this.dataset.disliked =true
                    }
                    try {
                        const response = await fetch(`/auth/like?trackId=${trackId}&dislike=${dislike}&like=${false}`, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                        });

                        if (!response.ok) {
                            throw new Error('Failed to like track');
                        }

                        const data = await response.json();
                        console.log('Track liked successfully:', data);
                    } catch (error) {
                        console.error('Error liking track:', error);
                    }
                });
            });
        
    </script>
</body>
</html>-->